* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.header {
  height: 60px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 3000;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right svg {
  cursor: pointer;
}

.icon-circle {
  width: 35px;
  height: 35px;
  background: #0029ff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container {
  display: flex;
  position: relative;
  min-height: calc(100vh - 60px);
}

.journey {
  position: absolute;
  left: 0;
  top: 0;

  width: 400px;
  height: calc(100vh - 90px);

  background: #fff;

  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);

  transition: transform 0.3s ease;
  z-index: 1000;
}

.journey.collapsed {
  transform: translateX(-280px);
}

.journey-header {
  background: #000;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 0 20px 0 0;
}

.toggle-btn {
  background: #000;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapsed-icon {
  display: none;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: 30px;
}

.journey.collapsed .collapsed-icon {
  display: flex;
}

#toggleIcon {
  width: 20px;
  transition: 0.3s;
}
.journey.collapsed #toggleIcon {
  transform: rotate(180deg);
}

.journey-content ul {
  list-style: none;
  padding: 20px;
}
.journey-content li {
  padding: 3px 0;
  font-weight: 400;
  font-size: 16px;
}

.main-content {
  margin-left: 60px;
  padding: 30px 130px;
  width: 100%;
}

.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.page-top h1 {
  color: #0029ff;
  font-size: 24px;
}
.submit-btn {
  background: #0029ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.intro-box {
  background: #e9ecef;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.asset-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin-left: 35px;
  margin-right: 65px;
}
.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 450px;
}
.card-header {
  background: #000;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  align-items: center;
}
.card-body {
  padding: 20px;
}

.thread {
  background-color: #feffc033;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 20px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #00000066;
}
.threadbox {
  border: 0.5px solid #333333;
  background: #0000000d;
  border-color: #0000000d;
  border-radius: 8px;
  margin-top: 10px;
  height: 105px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.input-section {
  font-size: 12px;
  font-weight: 500;
  padding: 10px 10px 0 10px;
  display: block;
}
.structurebox {
  border-color: #0000000d;
  border-radius: 8px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.typetext {
  width: 100%;
  flex: 1;
  padding: 10px;
  border: none;
  background: #fff;
  resize: none;
  outline: none;
  border-top: 0.5px solid #0000000d;
  border-radius: 8px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
.input-section label {
  display: block;
  margin-bottom: 5px;
}
.input-section textarea {
  width: 800px;
  border: none;
  background: transparent;
  outline: none;
}
.sub-thread-btn {
  background: #0029ff;
  font-size: 12px;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px 0;
}

.notice-board {
  position: absolute;
  right: 20px;
  top: 120px;
  width: 50px;
  height: 400px;
  background: white;
  border: 1 px solid #0000000d;
  border-radius: 30px 0 0 30px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2000;
}

.notice-header {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  border-radius: 30px 0 0 30px;
}

.notice-header p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 20px;
  letter-spacing: 4px;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
}

.notice-board {
  border: 1px solid #ddd;
  border-right: none;
}

.helpcenter {
  right: 20px;
  position: absolute;
}
.meeting {
  background-color: #0029ff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule {
  background-color: #0029ff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-right-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}
